<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1>categories</h1>
     <a href="/category/<%=user._id%>/Electronics"> Electronics</a>
     <a href="/category/<%=user._id%>/Stationary"> Stationary</a>
     <a href="/category/<%=user._id%>/Clothing"> Clothing</a>
      <a href="/category/<%=user._id%>/Bicycle"> Bicycle</a>
      <a href="/category/<%=user._id%>/Books"> Books</a>

    <h1>!!!!!!!!!welcome <%=user.name%>!!!!!!</h1>
    <input type="text"  id="searchbar" placeholder="Name....."  onkeyup="searchfun()">
    <input type="text"  id="filterbar" placeholder="price....."  onkeyup="searchfun2()">

    <table id="mytable">
        <tr>
            <th scope="col">
                objectname
            </th>
            <th scope="col">
                objectprice
            </th>
            <th scope="col">
                returnDate
            </th>
            <th scope="col">
                seller name
            </th>
            <th scope="col">
                seller phone
            </th>
            <th scope="col">
                borrow
            </th>
        </tr>
        
            <% if(record.length>0){%>
            <%record.forEach(function(element){%>
                <%if(element.sellername!=user.name){%>
                <tr>
                    <td><%=element.name%></td>
                    <td><%=element.price%></td>
                    <td><%=element.status%></td>
                    <td><%=element.sellername%></td>
                    <td><%=element.sellerphone%></td>
                    <%if(element.status==="Available"){%>
                    <td><a href="/<%=element._id%>/<%=user._id%>/buy">BUY</a></td>
                    <%}%>
                    </tr>    
                <%}%> 
                <%})%>
                <%}%>
    
    </table>










    <script>
        

        function searchfun(){
            let filter=document.getElementById("searchbar").value.toUpperCase();
            let myTable=document.getElementById("mytable");
           
            let tr= myTable.getElementsByTagName('tr');
            
            for(var i=0;i<tr.length;i++){
                let td=tr[i].getElementsByTagName('td')[0];
                if(td){
                    let textvalue=td.textContent || td.innerHTML;
                    if(textvalue.toUpperCase().indexOf(filter)> -1){
                        tr[i].style.display="";

                    }else{
                        tr[i].style.display="none"
                    }
                }
            }
        }


        function searchfun2(){
            let filter=document.getElementById("filterbar").value.toUpperCase();
            let myTable=document.getElementById("mytable");
           
            let tr= myTable.getElementsByTagName('tr');
            
            for(var i=0;i<tr.length;i++){
                let td=tr[i].getElementsByTagName('td')[1];
                if(td){
                    let textvalue=td.textContent || td.innerHTML;
                    if(textvalue.toUpperCase().indexOf(filter)> -1){
                        tr[i].style.display="";

                    }else{
                        tr[i].style.display="none"
                    }
                }
            }
        }
    </script>




</body>
</html>